[Unit] 
Description=Run OrthoQ dashboard for submitting ortho jobs
After=network.target

[Service]
User=aerotract
WorkingDirectory=/home/aerotract/software/ortho_maker
ExecStart=/home/aerotract/software/ortho_maker/run-dashboard.sh
Restart=always
Environment=PYTHONPATH=/home/aerotract/software/ortho_maker

[Install]
WantedBy=multi-user.target