[Unit] 
Description=Run OrthoQ worker for building orthos
After=network.target

[Service]
Type=simple
User=aerotract
WorkingDirectory=/home/aerotract/software/ortho_maker
ExecStart=/usr/bin/python3 /home/aerotract/software/ortho_maker/orthorunner.py
Restart=always
Environment=PYTHONPATH=/home/aerotract/software/ortho_maker

[Install]
WantedBy=multi-user.target