{% extends 'base.html' %}

{% block head %}
<style>
    .item {
        margin-bottom: 20px;
    }
    .sub-item {
        margin-left: 20px;
    }
</style>
{% endblock %}

{% block body %}

    {% if submission_content is not none %}
        <p>Submission successful: {{ submission_content }}</p>
    {% endif %}

    {% for stat in statuses %}
        <div class="item">
                <h3>Name: {{ stat.name }}</h3>
                <div class="sub-item">
                    <p>Queue Length: {{ stat.queue_len }}</p>
                    <p>Queue Contents: {{ stat.bodies }}</p>
                    <p>URL: {{ stat.url }}</p>
                </div>
            </div>
    {% endfor %}
{% endblock %}